.App {
  height: 100%;
}

.App-middle {
  height: calc(100% - 64px);
}

.App-sider {
  border-right: 1px solid #001529;
}

.App-content {
  background-color: #fff;
}

/* 去掉menu自带的右边框 */
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 0;
}
